@model Register

<form method="post" class="dragon-form">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="dragon-form-header">
            <h2 class="pl-3">Create Account</h2>
        </div>
        <div class="p-3 row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Username"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn golden-button w-100" value="Register" />
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn bronze-button w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="bronze-text">Password requirements<p>
                        <ul>
                            <li>Use 6 characters</li>
                            <li>Use at least 1 special character</li>
                            <li>Use at least 1 digit (0-9) </li>
                            <li>Use at least 1 uppercase (A-Z) </li>
                        </ul>
                    <p class="text-center golden-text">Help us keep you secure :)</p>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
