<div class="text-center">
    <img style="height:200%" src="~/Images/D&D-Manager-logo.png">
    <div class="border-info">
        <p>Welcome to D&D Manager Website. On this website you can make player characters and manage their equipment.</p>
        <p>Our shops are run by the Dungeon Master Team.</p>
        <p>Make a new account or login to start managing!</p>
    </div>
</div>